input:invalid {
	border-color: rgb(197, 3, 3);
}

  input:valid {
	border-color: rgb(36, 175, 36);
}

#image-div {
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url("https://placem.at/things?h=400&w=400&txt=placeholder");
    background-position: center;
    background-size: cover;
    --filter: #FFFFFF;
}

#image-div::after {
    background-color: var(--filter);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
}